#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_install:
	# Встановлення скрипта
	install -D -m 755 count_files.sh $(CURDIR)/debian/count-files/usr/bin/count_files
	# Встановлення конфігураційного файлу
	install -D -m 644 count_files.conf $(CURDIR)/debian/count-files/etc/count_files.conf
	# Встановлення man-сторінки
	install -D -m 644 count_files.1 $(CURDIR)/debian/count-files/usr/share/man/man1/count_files.1
